Source: ros-foxy-swri-route-util
Section: misc
Priority: optional
Maintainer: P. J. Reed <preed@swri.org>
Build-Depends: debhelper (>= 9.0.0), libboost-all-dev, ros-foxy-ament-cmake, ros-foxy-marti-common-msgs, ros-foxy-marti-nav-msgs, ros-foxy-rclcpp, ros-foxy-swri-geometry-util, ros-foxy-swri-math-util, ros-foxy-swri-roscpp, ros-foxy-swri-transform-util, ros-foxy-visualization-msgs, ros-foxy-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-foxy-swri-route-util
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libboost-all-dev, ros-foxy-marti-common-msgs, ros-foxy-marti-nav-msgs, ros-foxy-rclcpp, ros-foxy-swri-geometry-util, ros-foxy-swri-math-util, ros-foxy-swri-roscpp, ros-foxy-swri-transform-util, ros-foxy-visualization-msgs, ros-foxy-ros-workspace
Description: This library provides functionality to simplify working with the navigation messages defined in marti_nav_msgs.
