Source: ros-eloquent-swri-roscpp
Section: misc
Priority: optional
Maintainer: P. J. Reed <preed@swri.org>
Build-Depends: debhelper (>= 9.0.0), libboost-all-dev, libgtest-dev, ros-eloquent-ament-cmake, ros-eloquent-ament-cmake-gtest, ros-eloquent-diagnostic-updater, ros-eloquent-marti-common-msgs, ros-eloquent-nav-msgs, ros-eloquent-rclcpp, ros-eloquent-rosidl-cmake, ros-eloquent-rosidl-default-generators, ros-eloquent-std-msgs, ros-eloquent-std-srvs, ros-eloquent-ros-workspace, ros-eloquent-rmw-connext-cpp, ros-eloquent-rmw-fastrtps-cpp, ros-eloquent-rmw-implementation, ros-eloquent-rmw-opensplice-cpp, ros-eloquent-rosidl-typesupport-connext-c, ros-eloquent-rosidl-typesupport-connext-cpp, ros-eloquent-rosidl-typesupport-opensplice-c, ros-eloquent-rosidl-typesupport-opensplice-cpp
Homepage: 
Standards-Version: 3.9.2

Package: ros-eloquent-swri-roscpp
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libboost-all-dev, ros-eloquent-diagnostic-updater, ros-eloquent-marti-common-msgs, ros-eloquent-nav-msgs, ros-eloquent-rclcpp, ros-eloquent-rosidl-default-runtime, ros-eloquent-std-msgs, ros-eloquent-std-srvs, ros-eloquent-ros-workspace
Description: swri_roscpp
